*{
    box-sizing: border-box;
}
body{
    margin: auto;
    width: 714px;
}
hr{
    border: none;
    border-bottom: 1px black solid;
}
p,input,button,select,hr{
    margin: 10px;
    margin-top: 0;
}

.content{
    width: 514px;
    float: left;
}
.sidebar{
    width: 200px;
    float: right;
}
.clear{
    clear: both;
}